PORT=5000
DATABASE_URL="your_prisma_database_url"
APP_URL=http://localhost:3000

# JWT Access token
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=jwt_expires_in

# Refresh token
JWT_REFRESH_SECRET=your_jwt_secret_key
JWT_REFRESH_EXPIRES_IN=your_refresh_token_expires_in

BCRYPT_SALT_ROUNDS=10

# payment gateway
STRIPE_SECRET_KEY=your_stripe-secret_key
STRIPE_WEBHOOK_SECRET=stripe_web_secrete

NODE_ENV=development
