PORT=5000
DATABASE_URL="Your_database_connection_string"
JWT_SECRET=super_secret_change_me
JWT_EXPIRES_IN=7d
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
CLIENT_URL=http://localhost:3000